{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %} Welcome to my Fantasy Project. My name is Elias Israel and I have been working on this project with Corey.{% endblock %}</h1>
{% endblock %}

{% block content %}
    <h3>What is this: The idea of this project is to learn how to create a basic app.</h3>

    <h4>How to navigate this page:</h4>
    <ul>
        <li>On the top right, you can click on the button "Register" if you are new.</li>
        <li>Login if you are not new and already have an account with us.</li>
    </ul>
    
    
    <h4>Some of the goals of this project are:</h4>
    <ol>
        <li>Learn how to quickly spin up an App.</li>
        <li>Build an integration with Stripe to debug.</li> 
        <li>Actually have a running website that is suitable to use as a resume. Possibly use it during Perf Review for higher impact of work.</li> 
    </ol>
    
    <h4>Where we currently are?</h4>
    <ol>
        <li>We have built a very basic Flaskr</li>
        <li>Still working out the schematics and have a logic in the website. Certain templates have been created - routing is wonky.</li>   
        <li>Add whatever I would like to this page.</li>   
    </ol>
{% endblock %}