{% extends 'base.html' %} <!-- Brings in the base.html - it effectively "extends it" -->

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

<ul>
  <li>On the top right, you can click on the button "Register" if you are new.</li>
  <li>Login if you are not new and already have an account with us.</li>
</ul>

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
     <!-- This is the button the "action" that is needed -->
  </form>
{% endblock %}